language: python

python:
  - "2.6"
  - "2.7"

env:
  - DJANGO=django==1.5.1 --use-mirrors
  - DJANGO=django==1.4.5 --use-mirrors

install:
  - pip install $DJANGO django-jsonfield

script:
  - "python post_office/tests/runtests.py"
